<ion-header [translucent]="true">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Our Catalog</ion-title>
      <ion-buttons slot="end">
        <ion-icon
          routerLink="/add"
          slot="icon-only"
          name="add-outline"
        ></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-margin">
    <strong>We propose these new courses : </strong>
    <hr />
    <ion-list>
      @for(course of courseSer.getAllCourses(); track course.id) {
      <ion-item [routerLink]="['/details', course.id]">
        <ion-avatar class="ion-margin-end">
          <img [src]="course.logo" />
        </ion-avatar>
        <ion-label> {{ course.title }} </ion-label>
      </ion-item>
      }
    </ion-list>
  </div>
</ion-content>
